.delete-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.delete-box {
  background: #1f1f1f;
  padding: 25px 35px;
  border-radius: 10px;
  text-align: center;
  width: 260px;
  box-shadow: 0px 0px 20px #000;
}

.delete-text {
  color: white;
  font-size: 18px;
  margin-bottom: 15px;
}

.progress-container {
  width: 100%;
  height: 6px;
  background: #333;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  width: 0%;
  height: 100%;
  background: red;
  animation: loading 1.6s ease-in-out infinite;
}

@keyframes loading {
  0% { width: 0%; }
  50% { width: 80%; }
  100% { width: 0%; }
}
