.scrollable-videos {
  width: 100%;
  max-height: 350px;
  overflow-y: auto;

  scrollbar-width: thin; 
  scrollbar-color: transparent transparent;

}

.scrollable-videos::-webkit-scrollbar {
  width: 0px; 
  background: transparent; 
}

.scrollable-videos::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 0px;
}
.scrollable-videos {
  width: 100%;
  max-height: 350px;
  overflow-y: auto;


  scrollbar-width: thin;
  scrollbar-color: transparent transparent;


}

.scrollable-videos::-webkit-scrollbar {
  width: 0px; 
  background: transparent; 
}

.scrollable-videos::-webkit-scrollbar-thumb {
  background: transparent; 
  border-radius: 0px;
}
