.container {
    border: 2px solid #373535;
    background-color: rgba(18, 18, 18, 0.306);
    margin: auto;
    padding: 15px;
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
    box-shadow: 0px 0px 27px 4px #000000b9;
    max-width: 400px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.avatar {
    margin: auto;
}

.label {
    border: 2px solid rgb(255, 255, 255);
    font-size: 21px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 6px 135px;

}

.btn {
    margin: auto;
    margin-bottom: 6px;
}

h1 {
    margin-top: 3px;
}

.main input {
    font-size: 19px;
    padding: 3px 10px;
}

.main input::placeholder {
    font-size: 15px;
}

.cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
}


.sbtn {
    color: white;
    font-size: 17px;
    border: none;
    background-color: linear-gradient(90deg, #ff8a00, #e52e71);
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
}